<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Nabeel Hingun">
    <title>Bear Course Planner</title>
    <!-- <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script> -->
    
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">


    <link rel="stylesheet" href="../static/css/graph-creator.css">
    <link rel="stylesheet" href="../static/css/custom.css">
  </head>
  

  <body>
    <div id="wrapper" class='toggled'>

      <!-- Page Content -->
      <div id="page-content-wrapper">
  
        <!-- Initial Content --> 
        <div id='main_container'>
          <div id='clust_instruct_container' >
            <h1 id='viz_website_title'>Data Science Course Map</h1>

            <div id='viz_gmt_labels'></div>

            <div id='title_viz_instruct_text'>About:</div>
            <div class='viz_instruct_text'> This directed graph visualizes a class prerequisite map. Zoom into the graph by scrolling. Shift+delete to erase node or link. Search to add a class. Shift+drag to link up nodes.</div>

            <!-- input box for class search -->
            <div id='class_search_container' class='row'>
                <input id='class_search_box' type="text" class="form-control" placeholder="Input Class" aria-describedby="sizing-addon2">

                <div id='class_search_button' class="btn-group" data-toggle="buttons" >
                  <label id='class_search_submit' class="btn btn-primary active ">
                  <!-- <label id='class_search_submit' class="btn btn-primary active " onclick="find_class();"> -->
                    <input type="radio" name="options" id="" autocomplete="off" checked > Add
                  </label>
                </div>
            </div>
          </div>
          <div id='clustergram_container' ></div>
  
  
            </div>
          </div> <!-- end row -->
        </div>
      </div>
      <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    
    <script src="//d3js.org/d3.v3.js" charset="utf-8"></script>    
    <!-- <script src="//cdn.jsdelivr.net/filesaver.js/0.1/FileSaver.min.js"></script> -->

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

    <script src="../static/graph-creator.js"></script>
  </body>
</html>